<!DOCTYPE html>
<html>
	<head>
		<link href="../assets/css/styles.css" rel="stylesheet" type="text/css">
		<link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body ng-app="appModule">
		<div ng-controller="stockController as vm">
			<table>
				<tr ng-repeat="product in vm.products">
					<td>
						<table>
							<caption ng-bind="product.family"></caption>
							<tr ng-repeat="kind in product.kinds">
								<td ng-bind="kind.name"></td>
								<td ng-bind="kind.amount"></td>
								<td>
									<span class="button dollar" ng-click="vm.refill(kind.name, 4)">&#xf155;</span>
								</td>
								<td>
									<span class="button add" ng-click="vm.grabProduct(kind.name, 1)">&#xf055;</span>
								</td>
								<td>
									<span class="button remove" ng-click="vm.removeProduct(product.family, kind.name)">&#xf056;</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<span class="button add" ng-click="vm.addProduct()">&#xf067;</span>
		</div>
	</body>
	<script src="../assets/libs/angular.min.js"></script>
	<script src="../appModule.js"></script>
	<script src="../Models/stockModel.js"></script>
	<script src="../services/stockService.js"></script>
	<script src="../Controllers/stockController.js"></script>

</html>