footer {
	background-color: #202628;	
}

.social img {
	float: right;	
	margin-left: 10px;		
}

.navigation pre {	
	font-size: 14px;
  	font-family: "Lato";
  	color: rgb(231, 231, 231);	
	margin-right: 10px;
}

.navigation pre span {
  font-size: 14px;
  font-family: "Lato";
  color: #5f6567;	
}

.navigation span {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(232, 76, 61);
}



.clear-fix {
	clear: both;
}

