.header-content {	
	margin-left: 15%;
	margin-right: 15%;
}

header h1 {	
  	font-size: 25px;
  	font-family: "Fjalla One";
  	color: rgb(231, 231, 231);
  	text-transform: uppercase;
	float: left;	
	margin: 0;
	padding-top: 30px;	
}

header {
  background-color: rgb(32, 38, 40);            
}

nav {
	float: right;	
}

nav ul {
	list-style-type: none;
	margin: 0;	
}

nav li {
	text-align: center;	
	float: left;	
	font-size: 13px;
  	font-family: "Fjalla One";
  	color: rgb(231, 231, 231);
  	text-transform: uppercase;
	padding-top: 30px;
	height: 60px;
	width: 80px;	
}

nav li:hover {
	background-color: rgb(232, 76, 61);
	cursor: pointer;
}