.portfolio {
	display: table;
}

.portfolio h1 {
  font-size: 21px;
  font-family: "FjallaOne";
  color: rgb(32, 38, 40);
  text-transform: uppercase;
  margin-bottom: 30px;	
}
.portfolio h3 {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(232, 76, 61);	
  margin-left: 22px;
  padding-left: 30px;
}

.portfolio p {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(118, 124, 126);	   
}

.portfolio-section {
	display: table-cell;	
  width: 33%;	    
}

.portfolio-discription-section {
	padding-top: 30px;  
}

.portfolio-discription-section img {
	float: left;
  margin-top: 15px;
}

.portfolio-discription-section p {
	margin-left: 70px;
	padding-left: 30px;		
	padding-right: 30px;
}

.portfolio-mail-section {
  background-color: #e7e7e7;
  border-radius: 10px;
  padding-top: 30px;
  margin-right: 30px;
}

.portfolio-mail-section {
  padding-left: 30px;
  padding-right: 30px;  
  
}

.portfolio-mail-section img {  
  margin-top: 25px;
  margin-bottom: 25px;
}

.portfolio-contact-section img {  
  float: left;    
  margin-top: 15px;
}

.portfolio-mail-section input {
  margin-top: 25px;
  width: 100%;
  border: 5px solid white;  
	border-radius: 50px;    
	height: 41px;		
	box-sizing: border-box;   
}

.query-input input {
  border-radius: 10px;
  height: 75px;
}

.portfolio-contact-section {
  padding-top: 30px;
}

.portfolio-contact-section p {
	margin-left: 22px;
  padding-left: 30px;		
	padding-right: 30px;
}


.clear-fix {
	clear: both;
}

