.portfolio {
	display: table;  
  overflow: hidden;
}

.portfolio h1 {
  font-size: 21px;
  font-family: "Fjalla One";
  color: rgb(32, 38, 40);
  text-transform: uppercase;
  margin-bottom: 30px;	
}
.portfolio h3 {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(232, 76, 61);	
  margin-left: 22px;
  padding-left: 30px;  
}

.portfolio hr {
  margin: 30px 0;
}

.portfolio p {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(118, 124, 126);
  padding-top: 30px;	   
}

.portfolio-section {
	display: table-cell;	
  width: 33%;	          
  padding-right: 30px;      
  padding-bottom: 0;    
}

.portfolio-discription-section {	    
}

.portfolio-discription-section img {
	float: left;
  margin-top: 15px;
}

.portfolio-discription-section p {
	margin-left: 70px;
	padding-left: 30px;		
	padding-right: 30px;
}

.portfolio-mail-section {
  background-color: #e7e7e7;
  border-radius: 10px;
  padding-top: 30px;
  padding-right: 30px;
}

.portfolio-mail-section {
  padding-left: 30px;
  padding-right: 30px;  
  
}

.portfolio-mail-section p {
  padding-top: 20px;
}

.portfolio-mail-section img {  
  margin-top: 25px;
  margin-bottom: 25px;
}


.portfolio-mail-section input {
  margin-top: 25px;
  width: 100%;
  border: 5px solid white;  
	border-radius: 50px;    
	height: 41px;		
	box-sizing: border-box;   
}

.query-input input {
  border-radius: 10px;
  height: 75px;
}

.portfolio-contact-section {  
}

.portfolio-contact-section p {
	margin-left: 22px;
  padding-left: 30px;		
  padding-top: 0;	
}

.portfolio-contact-section img {  
  float: left;    
  /*margin-top: 15px;*/
}

.clear-fix {
	clear: both;
}

