
.section-content {	
	margin-left: 15%;
	margin-right: 15%;
	padding: 4% 0 ;	
}


p {
	font-size: 14px;
  	font-family: "Lato";
  	color: rgb(118, 124, 126);
}

input {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(159, 170, 173);
  font-style: italic;
  padding-left: 10px;	
}


body {
	margin: 0;
}

.container {
  	margin: 0 auto;
  	background-color: rgb(255, 255, 255);    
  	max-height: 2391px;
  	max-width: 1920px;      
}


.clear-fix {
	clear: both;
}

.banner {
	overflow: hidden;
}

.banner-slider img {
	max-height: 100%;
	max-width: 100%;
}