
.section-content {	
	margin-left: 15%;
	margin-right: 15%;
	padding: 4% 0 ;	
}

.header-content {	
	margin-left: 15%;
	margin-right: 15%;
}

p {
	font-size: 14px;
  	font-family: "Lato";
  	color: rgb(118, 124, 126);
}

body {
	margin: 0;
}

.container {
  	margin: 0 auto;
  	background-color: rgb(255, 255, 255);    
  	max-height: 2391px;
  	max-width: 1920px;      
}

header h1 {	
  	font-size: 25px;
  	font-family: "FjallaOne";
  	color: rgb(231, 231, 231);
  	text-transform: uppercase;	
	display: table-cell;
}

nav {	
	display: table-cell;
	margin: 0;
	padding: 0;
	width: 50%;	
}
header {
  background-color: rgb(32, 38, 40);            
}

.site-name-container {		
	display: table-cell;
	vertical-align: middle;	
	width: 50%;
}

.site-name-container h1 {
  	font-size: 25px;
  	font-family: "FjallaOne";
  	color: rgb(231, 231, 231);
  	text-transform: uppercase;         
}

nav {
	display: table-cell;		
	vertical-align: middle;			
}
nav ul {
	list-style-type: none;
}

nav li {
	float: left;
	padding-right: 10px;
	font-size: 13px;
  	font-family: "FjallaOne";
  	color: rgb(231, 231, 231);
  	text-transform: uppercase;
}

nav li:hover {
	background-color: rgb(232, 76, 61);
}



.clear-fix {
	clear: both;
}

.banner {
	overflow: hidden;
}

.banner-slider img {
	max-height: 100%;
	max-width: 100%;
}