.subscribtion {
	background-color: #e84c3d;
	border-radius: 10px;
	display: table;		
}

.testimonial {	
	display: table-cell;
	width: 50%;
	padding-left: 30px;			
}

.testimonial img {
	float: left;	
	width: 70px;
	height: 70px;
}


.testimonial h1 {
  font-size: 21px;
  font-family: "FjallaOne";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.testimonial p {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(255, 255, 255);  	
}

.testimonial-text {
	margin-left: 70px;
	padding-left: 30px;
}

.testimonial-text span {
	font-size: 16px;
  	font-family: "Lato";
  	color: rgb(255, 255, 255);
	font-style: italic;	   
}

.subscribe {			
	padding-left: 30px;	
	padding-right: 30px;
	width: 50%;	
	display: table-cell;
}

.subscribe h1 {	
  font-size: 21px;
  font-family: "FjallaOne";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.subscribe-email {
	padding-right: 10px;
	overflow: hidden;
}

.subscribe-email input {
	border: 5px solid white;  
	border-radius: 50px;    
	height: 41px;		
	box-sizing: border-box;	
	width: 100%;			
}

.subscribe-submit{	
	float: right				
}


.clear-fix {
	clear: both;
}