body {
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
    color: rgb(245, 222, 179);
    background: url("../img/background.jpg");
    background-attachment: fixed;
}

section {
    width: 30%;
    float: left;
    border-style: solid;
    margin-left: 30px;
    background: rgba(0, 0, 0, 0.4);
}

table {
    width: 100%;
}

caption {
    font-size: 48px;
    color: rgb(255,215,0);
}

.available-vendors {
    display: none;
}

td {
    font-size: 24px;
    padding-right: 25px;
    text-align: center;
    border-top-style: solid;
}

.button {
    -webkit-user-select: none;
    font-size: 36px;
    font-family: "FontAwesome";
    text-align: right;
}

.dollar {
    color: rgb(255, 215, 0);
}

.remove {
    color: rgb(190, 0, 0);
}

.add {
    color: rgb(0, 190, 0);
}

.story {
    margin-left: 50%;
    font-size: 54px;
    color: rgb(255, 215, 0);
}

.chart {
    margin-left: 50%;
    font-size: 54px;
    color: rgb(255, 215, 0);
}


.chart-popup {
    display: none;
}

.success-popup {
    color: rgb(0, 190, 0);
    display: none;
}

.error-popup {
    color: rgb(190, 0, 0);
    display: none;
}

.button:hover {
    cursor: pointer;
    opacity: 0.4;
}

.button:active {
    opacity: 0.1;
}

.story-popup {
    display: none;
}

.checkout span {
    font-size: 86px;
}
